@model Day12.Models.Feedback1

@{
    ViewData["Title"] = "Feedback Details";
}

<hr/>
<div class="card-body text-center bg-white border-black mt-2"><h1>Feedback Details</h1></div>
<hr/>
<div class="row justify-content-center">
<div class="col-md-10 mt-5">
<div class="card shadow border-secondary">
    <div class="card-body ">
        <h4>User Feedback Details</h4><hr/>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd><hr/>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd><hr/>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Mobile_Number)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Mobile_Number)
            </dd><hr/>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Feedback)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Feedback)
            </dd> <hr/>
        </dl>
        <pre><a class="btn btn-warning" asp-action="Index">Back to List</a> </pre>
    </div>
      
</div>
</div>
</div>
